<a href="https://colab.research.google.com/github/lustraka/data-analyst-portfolio-project-2022/blob/main/code/20211110_Scrape_Intitial_WebPages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
# Import dependencies
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [67]:
csv_path = 'https://raw.githubusercontent.com/lustraka/data-analyst-portfolio-project-2022/main/data/data_analytics_portfolio_projects.csv'
df = pd.read_csv(csv_path)
df.shape

(110, 3)

**2021-11-10**: Clean a csv file and add id (non-repetable):
```python
df = df.iloc[110:]
df['id'] = df.id.apply(lambda x: 'WP'+str(int(x+1)))
df.to_csv('data_analytics_portfolio_projects.csv', index=False)
```

In [68]:
df.head()

    id  ...                                                url
0  WP1  ...  https://careerfoundry.com/en/blog/data-analyti...
1  WP2  ...  https://careerfoundry.com/en/blog/data-analyti...
2  WP3  ...  https://www.coursera.org/articles/how-to-build...
3  WP4  ...  https://www.springboard.com/blog/data-analytic...
4  WP5  ...    https://www.youtube.com/watch%3Fv%3DqfyynHBFOsM

[5 rows x 3 columns]

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      110 non-null    object
 1   title   110 non-null    object
 2   url     110 non-null    object
dtypes: object(3)
memory usage: 2.7+ KB

In [70]:
html = []
for row in df.itertuples():
  print(row[1], row[3])
  page = requests.get(row[3])
  if page.status_code == 200:
    html.append([row[1], page.status_code, page.content, pd.Timestamp.today()])
  else:
    html.append([row[1], page.status_code, '', pd.Timestamp.today()])

html[-1]

WP1 https://careerfoundry.com/en/blog/data-analytics/data-analytics-portfolio-examples/
WP2 https://careerfoundry.com/en/blog/data-analytics/data-analyst-portfolio/
WP3 https://www.coursera.org/articles/how-to-build-a-data-analyst-portfolio
WP4 https://www.springboard.com/blog/data-analytics/data-analyst-portfolio/
WP5 https://www.youtube.com/watch%3Fv%3DqfyynHBFOsM
WP6 https://www.youtube.com/watch%3Fv%3DtW89_4psTWg
WP7 https://www.codecademy.com/resources/blog/data-analyst-portfolio/
WP8 https://www.stratascratch.com/blog/data-analytics-project-ideas-that-will-get-you-the-job/
WP9 https://www.dataquest.io/blog/build-a-data-science-portfolio/
WP10 https://www.kdnuggets.com/2019/04/projects-include-data-science-portfolio.html
WP11 https://www.udacity.com/blog/2016/02/how-to-build-a-data-analysis-portfolio-that-will-get-you-hired.html
WP12 https://towardsdatascience.com/5-of-my-best-data-science-portfolio-projects-8cd7f81f1b1
WP13 https://towardsdatascience.com/these-data-science-portfolios-will-awe-and-inspire-you-mid-2020-edition-728e1021f60
WP14 https://www.r-bloggers.com/2020/11/4-r-projects-to-form-a-core-data-analyst-portfolio/
WP15 https://builtin.com/data-science/data-science-portfolio-projects
WP16 https://www.pinterest.com/stephenwieschha/data-analyst-portfolio/
WP17 https://davidventuri.com/portfolio
WP18 https://www.reddit.com/r/datascience/comments/7bmsu8/best_way_to_create_a_data_analytics_portfolio/
WP19 https://www.claudiatenhoope.com/
WP20 https://www.jigsawacademy.com/blogs/business-analytics/data-analytics-project/
WP21 https://www.freecodecamp.org/news/how-to-build-an-awesome-data-science-portfolio/
WP22 https://www.kaggle.com/getting-started/170543
WP23 https://blog.jovian.ai/3-must-have-projects-for-your-data-science-portfolio-9cbd1264edb4
WP24 https://www.yooi.com/post/how-to-maximize-data-and-analytics-value-with-portfolio-management
WP25 https://www.element61.be/en/competence/business-analytics-portfolio-management-project-management
WP26 https://medium.com/%40birappa.001/5-data-analytics-projects-for-beginners-17846d74062d
WP27 https://www.quora.com/How-can-I-build-a-data-science-portfolio-without-job-experience
WP28 https://analyticalmarketer.io/data-analysis-projects/
WP29 https://github.com/sajal2692/data-science-portfolio
WP30 https://tessellationtech.io/live-stream-how-to-choose-the-best-projects-for-your-data-analytics-portfolio/
WP31 https://www.mygreatlearning.com/blog/top-data-analytics-project-ideas/
WP32 https://www.analyticsinsight.net/four-data-science-projects-to-make-a-strong-portfolio/
WP33 https://www.datascienceweekly.org/articles/how-to-choose-a-data-science-project-for-your-data-science-portfolio
WP34 https://rforhr.com/create-portfolio.html
WP35 https://www.analyticsvidhya.com/blog/2021/04/how-to-make-an-impressive-data-science-portfolio/
WP36 https://brainstation.io/career-guides/how-to-build-a-data-science-portfolio
WP37 https://www.udemy.com/course/data-analytics-projects-python/
WP38 https://www.thinkful.com/blog/entry-level-data-analyst/
WP39 https://www.projectpro.io/article/big-data-analytics-projects-for-students-/436
WP40 https://www.nicksingh.com/posts/guide-to-creating-kick-ass-data-science-ml-portfolio-projects
WP41 https://tcottrell321.github.io/Data-Analytics-Portfolio/
WP42 https://www.aitimejournal.com/%40admond.lee/3-steps-to-build-a-data-science-portfolio
WP43 https://www.taylorfrancis.com/chapters/edit/10.1201/9780429434891-5/data-analytics-project-portfolio-management-alfonso-bucero%3Fcontext%3Dubx%26refId%3D58ccdaa0-5acb-491c-b74f-4445a897263e
WP44 https://www.pratt.edu/academics/information/current-students/dav-portfolio/
WP45 https://www.datacamp.com/projects
WP46 https://jameskle.com/data-portfolio
WP47 https://www.worldbank.org/en/research/dime/data-and-analytics
WP48 https://ucsd.libguides.com/data-science/projects
WP49 https://jobs.cisco.com/jobs/ProjectDetail/AppD-Analyst-Data-Insights-Analytics-Portfolio/1346760
WP50 https://www.simplilearn.com/data-science-projects-article
WP51 https://www.purdue.edu/idata/Services/Analysis/index.php
WP52 https://www.sciencedirect.com/science/article/pii/S2212827118301549
WP53 https://www2.deloitte.com/content/dam/Deloitte/us/Documents/financial-services/us-enabling-project-success-through-analytics-placemat.pdf
WP54 https://www.yan-holtz.com/
WP55 https://clearcode.cc/portfolio/
WP56 https://www.theseattledataguy.com/5-data-engineering-projects-to-add-to-your-resume/
WP57 https://careers.ovo.com/data-analyst-portfolio/3089805
WP58 https://blog.journeyofanalytics.com/datascience-project-ideas/
WP59 https://professionaled.utexas.edu/data-analytics-certificate-program
WP60 https://uk.linkedin.com/in/johnpholland
WP61 https://whatis.techtarget.com/feature/8-data-science-projects-to-build-your-resume
WP62 https://gerinberg.com/
WP63 https://www.indeed.com/career-advice/finding-a-job/no-experience-data-analyst-jobs
WP64 https://intellipaat.com/blog/data-science-project-ideas/
WP65 https://content.techgig.com/2-real-world-project-ideas-for-your-data-science-portfolio/articleshow/77738801.cms
WP66 https://www.cio.com/article/3612317/the-data-driven-project-manager-using-analytics-to-improve-outcomes.html
WP67 https://www.intellspot.com/data-science-project-ideas/
WP68 https://livebook.manning.com/book/build-your-career-in-data-science/chapter-4/
WP69 https://dimensionless.in/8-data-science-projects-to-build-your-portfolio/
WP70 https://technologyadvice.com/blog/information-technology/data-analytics-project-outcomes/
WP71 https://www.playingnumbers.com/2020/02/the-4-types-of-sports-analytics-projects/
WP72 https://harrisonjansma.com/
WP73 https://www.upgrad.com/blog/data-science-projects-on-github/
WP74 https://data-flair.training/blogs/data-science-project-ideas/
WP75 https://tippie.uiowa.edu/about-tippie/centers-institutes/tippie-analytics-cooperative/project-portfolio
WP76 https://aws.amazon.com/big-data/datalakes-and-analytics/
WP77 https://www.analyticssteps.com/blogs/top-10-data-science-project-ideas-beginners
WP78 https://docs.servicenow.com/bundle/paris-it-business-management/page/use/dashboards/application-content-packs/project-portfolio-content-pack.html
WP79 https://naledi.co.uk/blog/how-to-build-your-data-visualisation-portfolio/
WP80 https://voyteklab.com/data%2520science/data-projects/
WP81 https://www.pointb.com/insights/up-the-value-of-project-portfolio-management-systems/
WP82 https://blog.planview.com/how-savvy-pmos-drive-actionable-insights-with-portfolio-dashboards/
WP83 https://www.pmi.org/learning/library/business-intelligence-project-portfolios-decisions-1489
WP84 https://www.ibm.com/analytics/hadoop/big-data-analytics
WP85 https://coopcareers.org/data-analytics
WP86 https://blog.prototypr.io/improve-your-ux-portfolio-with-google-analytics-bfce095ffe51
WP87 https://zephyrnet.com/how-to-build-strong-data-science-portfolio-as-a-beginner/
WP88 https://www.switchup.org/blog/how-to-build-a-data-science-portfolio-that-will-get-you-hired
WP89 https://www.slideshare.net/JamieRenehan/building-a-data-analytics-portfolio-150255855
WP90 https://careers.equifax.com/global/en/c/data-analytics-jobs
WP91 http://cip.airport.tj/wp-content/themes/sketch/q6iu5/luq8e.php%3Fejcmdz%3Ddata-analyst-portfolio-github
WP92 https://katba-caroline.com/business-analytics-portfolio/
WP93 https://www.mastersindatascience.org/bootcamps/data-analytics-bootcamp-guide/data-science-bootcamps-bay-area/
WP94 https://www.careercenters.com/courses/data-analytics-industry-portfolio
WP95 https://www.hydra.cloud/en/resources/blog/154-data-driven-approach
WP96 https://www.conordewey.com/blog/5-resources-to-inspire-your-next-data-science-project/
WP97 https://www.protiviti.com/US-en/insights/data-analytics-drive-real-time-capital-project-management
WP98 https://www.3ds.com/products-services/netvibes/products/plm-analytics/portfolio/
WP99 https://conferences.oreilly.com/strata/strata-ca-2018/public/schedule/detail/63905.html
WP100 https://career-bootcamp.unf.edu/programs/data-analytics/
WP101 https://www.selecthub.com/project-management/ppm/10-popular-ppm-tools/
WP102 https://www.accenture.com/us-en/services/data-analytics-index
WP103 https://www.datascience-pm.com/managing-data-analytics-projects/
WP104 https://eugeneyan.com/writing/data-science-portfolio-how-why-what/
WP105 https://www.beamjobs.com/resumes/data-analyst-resume-examples
WP106 https://generalassemb.ly/education/data-science-immersive/dallas
WP107 https://jobs.smartrecruiters.com/Verisk/743999780300762-business-data-analyst-portfolio-management
WP108 https://www.scnsoft.com/blog/4-types-of-data-analytics
WP109 https://fluentpro.com/business-intelligence
WP110 https://www.qsm.com/blog/2020/data-analytics-project-and-portfolio-estimates

['WP110', 403, '', Timestamp('2021-11-10 15:40:19.868791')]

In [71]:
html_df = pd.DataFrame(html, columns=['id', 'status', 'content', 'cont_ts'])
html_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       110 non-null    object
 1   status   110 non-null    int64
 2   content  110 non-null    object
 3   cont_ts  110 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 3.6+ KB

In [72]:
# Check status - probably dynamic pages
html_df.query('status != 200')

        id  status content                    cont_ts
4      WP5     429         2021-11-10 15:39:25.873482
5      WP6     429         2021-11-10 15:39:26.264246
10    WP11     403         2021-11-10 15:39:27.508310
30    WP31     403         2021-11-10 15:39:40.374614
44    WP45     503         2021-11-10 15:39:48.099745
51    WP52     403         2021-11-10 15:39:50.188590
55    WP56     406         2021-11-10 15:39:51.419156
56    WP57     404         2021-11-10 15:39:51.754074
59    WP60     999         2021-11-10 15:39:53.756826
68    WP69     406         2021-11-10 15:39:57.295039
73    WP74     403         2021-11-10 15:40:00.707606
79    WP80     404         2021-11-10 15:40:05.997211
81    WP82     403         2021-11-10 15:40:06.599240
82    WP83     403         2021-11-10 15:40:06.662366
86    WP87     503         2021-11-10 15:40:09.030152
91    WP92     406         2021-11-10 15:40:11.767119
100  WP101     403         2021-11-10 15:40:15.482896
109  WP110     403         2021-11-10 15:40:19.868791

In [73]:
# Merge datasets
df_new = df.merge(html_df, on='id')
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110 entries, 0 to 109
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       110 non-null    object
 1   title    110 non-null    object
 2   url      110 non-null    object
 3   status   110 non-null    int64
 4   content  110 non-null    object
 5   cont_ts  110 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 6.0+ KB

In [74]:
# Add lenght of the content
df_new['cont_len'] = df_new.content.str.len()
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110 entries, 0 to 109
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        110 non-null    object
 1   title     110 non-null    object
 2   url       110 non-null    object
 3   status    110 non-null    int64
 4   content   110 non-null    object
 5   cont_ts   110 non-null    datetime64[ns]
 6   cont_len  110 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 6.9+ KB

In [75]:
# Add date of scaapping - should be part of html requests
# df_new['cont_date'] = pd.Timestamp.today()

In [76]:
df_new.set_index('id', inplace=True)
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 110 entries, WP1 to WP110
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     110 non-null    object
 1   url       110 non-null    object
 2   status    110 non-null    int64
 3   content   110 non-null    object
 4   cont_ts   110 non-null    datetime64[ns]
 5   cont_len  110 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 6.0+ KB

In [78]:
# Store dataframes for further processing
from sqlalchemy import create_engine

# Create SQLAlchemy engine and empty database
engine = create_engine('sqlite:///dapp2022.db')

# Store dataframes in database
df_new.to_sql('wp', engine, index=True)

# Upload the file to GitHub !
# 2021-11-10 :  It has 14 MB

In [79]:
# How many pages have not been loaded?
df_new.query('status != 200').shape[0]

18