<a href="https://colab.research.google.com/github/lustraka/Data_Analysis_Workouts/blob/main/Analyse_Twitter_Data/practice-gathering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Rotten Tomatoes: Top 100 Movies of All Time
References:
- [Rotten Tomatoes: Top 100](https://www.rottentomatoes.com/top/bestofrt/)

In [2]:
# Import dependencies
import pandas as pd

## Flat Files

In [3]:
path = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/September/59ca594d_bestofrt/'
df = pd.read_csv(path+'bestofrt.tsv', sep='\t')
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

## HTML Files

## Text Files

## JSON Files